<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.AccessoriesProcurementDetailMapper">

    <resultMap type="com.djc.entity.AccessoriesProcurementDetail" id="AccessoriesProcurementDetailMap">
        <result property="procurementDetailId" column="procurement_detail_id" jdbcType="INTEGER"/>
        <result property="procurementId" column="procurement_id" jdbcType="INTEGER"/>
        <result property="accessoriesId" column="accessories_id" jdbcType="INTEGER"/>
        <result property="testWhether" column="test_whether" jdbcType="VARCHAR"/>
        <result property="materialType" column="material_type" jdbcType="VARCHAR"/>
        <result property="procurementNum" column="procurement_num" jdbcType="INTEGER"/>
        <result property="conversionRate" column="conversion_rate" jdbcType="VARCHAR"/>
        <result property="purchasingUnit" column="purchasing_unit" jdbcType="VARCHAR"/>
        <result property="originalPriceWithTax" column="original_price_with_tax" jdbcType="NUMERIC"/>
        <result property="originalCurrency" column="original_currency" jdbcType="NUMERIC"/>
        <result property="originalCurrencyTax" column="original_currency_tax" jdbcType="VARCHAR"/>
        <result property="totalTaxPriceInOriginalCurrency" column="total_tax_price_in_original_currency"
                jdbcType="VARCHAR"/>
        <result property="taxRate" column="tax_rate" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AccessoriesProcurementDetailMap">
        select procurement_detail_id,
               procurement_id,
               accessories_id,
               test_whether,
               material_type,
               procurement_num,
               conversion_rate,
               purchasing_unit,
               original_price_with_tax,
               original_currency,
               original_currency_tax,
               total_tax_price_in_original_currency,
               tax_rate
        from accessories_procurement_detail
        where procurement_detail_id = #{procurementDetailId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AccessoriesProcurementDetailMap">
        select
        procurement_detail_id, procurement_id, accessories_id, test_whether, material_type, procurement_num,
        conversion_rate, purchasing_unit, original_price_with_tax, original_currency, original_currency_tax,
        total_tax_price_in_original_currency, tax_rate
        from accessories_procurement_detail
        <where>
            <if test="procurementDetailId != null">
                and procurement_detail_id = #{procurementDetailId}
            </if>
            <if test="procurementId != null">
                and procurement_id = #{procurementId}
            </if>
            <if test="accessoriesId != null">
                and accessories_id = #{accessoriesId}
            </if>
            <if test="testWhether != null and testWhether != ''">
                and test_whether = #{testWhether}
            </if>
            <if test="materialType != null and materialType != ''">
                and material_type = #{materialType}
            </if>
            <if test="procurementNum != null">
                and procurement_num = #{procurementNum}
            </if>
            <if test="conversionRate != null and conversionRate != ''">
                and conversion_rate = #{conversionRate}
            </if>
            <if test="purchasingUnit != null and purchasingUnit != ''">
                and purchasing_unit = #{purchasingUnit}
            </if>
            <if test="originalPriceWithTax != null">
                and original_price_with_tax = #{originalPriceWithTax}
            </if>
            <if test="originalCurrency != null">
                and original_currency = #{originalCurrency}
            </if>
            <if test="originalCurrencyTax != null and originalCurrencyTax != ''">
                and original_currency_tax = #{originalCurrencyTax}
            </if>
            <if test="totalTaxPriceInOriginalCurrency != null and totalTaxPriceInOriginalCurrency != ''">
                and total_tax_price_in_original_currency = #{totalTaxPriceInOriginalCurrency}
            </if>
            <if test="taxRate != null and taxRate != ''">
                and tax_rate = #{taxRate}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="AccessoriesProcurementDetailMap">
        SELECT * FROM accessories_procurement_detail
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from accessories_procurement_detail
        <where>
            <if test="procurementDetailId != null">
                and procurement_detail_id = #{procurementDetailId}
            </if>
            <if test="procurementId != null">
                and procurement_id = #{procurementId}
            </if>
            <if test="accessoriesId != null">
                and accessories_id = #{accessoriesId}
            </if>
            <if test="testWhether != null and testWhether != ''">
                and test_whether = #{testWhether}
            </if>
            <if test="materialType != null and materialType != ''">
                and material_type = #{materialType}
            </if>
            <if test="procurementNum != null">
                and procurement_num = #{procurementNum}
            </if>
            <if test="conversionRate != null and conversionRate != ''">
                and conversion_rate = #{conversionRate}
            </if>
            <if test="purchasingUnit != null and purchasingUnit != ''">
                and purchasing_unit = #{purchasingUnit}
            </if>
            <if test="originalPriceWithTax != null">
                and original_price_with_tax = #{originalPriceWithTax}
            </if>
            <if test="originalCurrency != null">
                and original_currency = #{originalCurrency}
            </if>
            <if test="originalCurrencyTax != null and originalCurrencyTax != ''">
                and original_currency_tax = #{originalCurrencyTax}
            </if>
            <if test="totalTaxPriceInOriginalCurrency != null and totalTaxPriceInOriginalCurrency != ''">
                and total_tax_price_in_original_currency = #{totalTaxPriceInOriginalCurrency}
            </if>
            <if test="taxRate != null and taxRate != ''">
                and tax_rate = #{taxRate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="procurementDetailId" useGeneratedKeys="true">
        insert into accessories_procurement_detail(procurement_id, accessories_id, test_whether, material_type,
                                                   procurement_num, conversion_rate, purchasing_unit,
                                                   original_price_with_tax, original_currency, original_currency_tax,
                                                   total_tax_price_in_original_currency, tax_rate)
        values (#{procurementId}, #{accessoriesId}, #{testWhether}, #{materialType}, #{procurementNum},
                #{conversionRate}, #{purchasingUnit}, #{originalPriceWithTax}, #{originalCurrency},
                #{originalCurrencyTax}, #{totalTaxPriceInOriginalCurrency}, #{taxRate})
    </insert>

    <insert id="insertBatch" keyProperty="procurementDetailId" useGeneratedKeys="true">
        insert into accessories_procurement_detail(procurement_id, accessories_id, test_whether, material_type,
        procurement_num, conversion_rate, purchasing_unit, original_price_with_tax, original_currency,
        original_currency_tax, total_tax_price_in_original_currency, tax_rate)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.procurementId}, #{entity.accessoriesId}, #{entity.testWhether}, #{entity.materialType},
            #{entity.procurementNum}, #{entity.conversionRate}, #{entity.purchasingUnit},
            #{entity.originalPriceWithTax}, #{entity.originalCurrency}, #{entity.originalCurrencyTax},
            #{entity.totalTaxPriceInOriginalCurrency}, #{entity.taxRate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="procurementDetailId" useGeneratedKeys="true">
        insert into accessories_procurement_detail(procurement_id, accessories_id, test_whether, material_type,
        procurement_num, conversion_rate, purchasing_unit, original_price_with_tax, original_currency,
        original_currency_tax, total_tax_price_in_original_currency, tax_rate)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.procurementId}, #{entity.accessoriesId}, #{entity.testWhether}, #{entity.materialType},
            #{entity.procurementNum}, #{entity.conversionRate}, #{entity.purchasingUnit},
            #{entity.originalPriceWithTax}, #{entity.originalCurrency}, #{entity.originalCurrencyTax},
            #{entity.totalTaxPriceInOriginalCurrency}, #{entity.taxRate})
        </foreach>
        on duplicate key update
        procurement_id = values(procurement_id),
        accessories_id = values(accessories_id),
        test_whether = values(test_whether),
        material_type = values(material_type),
        procurement_num = values(procurement_num),
        conversion_rate = values(conversion_rate),
        purchasing_unit = values(purchasing_unit),
        original_price_with_tax = values(original_price_with_tax),
        original_currency = values(original_currency),
        original_currency_tax = values(original_currency_tax),
        total_tax_price_in_original_currency = values(total_tax_price_in_original_currency),
        tax_rate = values(tax_rate)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update accessories_procurement_detail
        <set>
            <if test="procurementId != null">
                procurement_id = #{procurementId},
            </if>
            <if test="accessoriesId != null">
                accessories_id = #{accessoriesId},
            </if>
            <if test="testWhether != null and testWhether != ''">
                test_whether = #{testWhether},
            </if>
            <if test="materialType != null and materialType != ''">
                material_type = #{materialType},
            </if>
            <if test="procurementNum != null">
                procurement_num = #{procurementNum},
            </if>
            <if test="conversionRate != null and conversionRate != ''">
                conversion_rate = #{conversionRate},
            </if>
            <if test="purchasingUnit != null and purchasingUnit != ''">
                purchasing_unit = #{purchasingUnit},
            </if>
            <if test="originalPriceWithTax != null">
                original_price_with_tax = #{originalPriceWithTax},
            </if>
            <if test="originalCurrency != null">
                original_currency = #{originalCurrency},
            </if>
            <if test="originalCurrencyTax != null and originalCurrencyTax != ''">
                original_currency_tax = #{originalCurrencyTax},
            </if>
            <if test="totalTaxPriceInOriginalCurrency != null and totalTaxPriceInOriginalCurrency != ''">
                total_tax_price_in_original_currency = #{totalTaxPriceInOriginalCurrency},
            </if>
            <if test="taxRate != null and taxRate != ''">
                tax_rate = #{taxRate},
            </if>
        </set>
        where procurement_detail_id = #{procurementDetailId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from accessories_procurement_detail
        where procurement_detail_id = #{procurementDetailId}
    </delete>

</mapper>

