<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.AccessoriesInboundMapper">

    <resultMap type="com.djc.entity.AccessoriesInbound" id="AccessoriesInboundMap">
        <result property="inboundId" column="inbound_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="document" column="document" jdbcType="VARCHAR"/>
        <result property="inboundDate" column="inbound_date" jdbcType="TIMESTAMP"/>
        <result property="clerkName" column="clerk_name" jdbcType="VARCHAR"/>
        <result property="inboundType" column="inbound_type" jdbcType="VARCHAR"/>
        <result property="reviewDate" column="review_date" jdbcType="TIMESTAMP"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="inboundRemark" column="inbound_remark" jdbcType="VARCHAR"/>
        <result property="inboundCreater" column="inbound_creater" jdbcType="VARCHAR"/>
        <result property="inboundReviewer" column="inbound_reviewer" jdbcType="VARCHAR"/>
        <result property="inboundApprover" column="inbound_approver" jdbcType="VARCHAR"/>
        <result property="inboundCloser" column="inbound_closer" jdbcType="VARCHAR"/>
        <result property="inboundState" column="inbound_state" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="AccessoriesInboundVoMap" type="accessoriesInboundVo">
        <result property="inboundId" column="inbound_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="document" column="document" jdbcType="VARCHAR"/>
        <result property="inboundDate" column="inbound_date" jdbcType="TIMESTAMP"/>
        <result property="clerkName" column="clerk_name" jdbcType="VARCHAR"/>
        <result property="inboundType" column="inbound_type" jdbcType="VARCHAR"/>
        <result property="reviewDate" column="review_date" jdbcType="TIMESTAMP"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="inboundRemark" column="inbound_remark" jdbcType="VARCHAR"/>
        <result property="inboundCreater" column="inbound_creater" jdbcType="VARCHAR"/>
        <result property="inboundReviewer" column="inbound_reviewer" jdbcType="VARCHAR"/>
        <result property="inboundApprover" column="inbound_approver" jdbcType="VARCHAR"/>
        <result property="inboundCloser" column="inbound_closer" jdbcType="VARCHAR"/>
        <result property="inboundState" column="inbound_state" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <collection property="inboundDetailVoList" ofType="accessoriesInboundDetailVo" column="inbound_id"
                     select="com.djc.mapper.AccessoriesInboundDetailMapper.queryVoByInboundId"/>
    </resultMap>
    <!--查询单个-->
    <select id="queryById" resultMap="AccessoriesInboundMap">
        select inbound_id,
               employee_id,
               document,
               inbound_date,
               clerk_name,
               inbound_type,
               review_date,
               department,
               inbound_remark,
               inbound_creater,
               inbound_reviewer,
               inbound_approver,
               inbound_closer,
               inbound_state,
               create_date
        from accessories_inbound
        where inbound_id = #{inboundId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AccessoriesInboundMap">
        select
        inbound_id, employee_id, document, inbound_date, clerk_name, inbound_type, review_date, department,
        inbound_remark, inbound_creater, inbound_reviewer, inbound_approver, inbound_closer, inbound_state, create_date
        from accessories_inbound
        <where>
            <if test="accessoriesInbound.inboundId != null">
                and inbound_id = #{accessoriesInbound.inboundId}
            </if>
            <if test="accessoriesInbound.employeeId != null">
                and employee_id = #{accessoriesInbound.employeeId}
            </if>
            <if test="accessoriesInbound.document != null and accessoriesInbound.document != ''">
                and document = #{accessoriesInbound.document}
            </if>
            <if test="accessoriesInbound.inboundDate != null">
                and inbound_date = #{accessoriesInbound.inboundDate}
            </if>
            <if test="accessoriesInbound.clerkName != null and accessoriesInbound.clerkName != ''">
                and clerk_name = #{accessoriesInbound.clerkName}
            </if>
            <if test="accessoriesInbound.inboundType != null and accessoriesInbound.inboundType != ''">
                and inbound_type = #{accessoriesInbound.inboundType}
            </if>
            <if test="accessoriesInbound.reviewDate != null">
                and review_date = #{accessoriesInbound.reviewDate}
            </if>
            <if test="accessoriesInbound.department != null and accessoriesInbound.department != ''">
                and department = #{accessoriesInbound.department}
            </if>
            <if test="accessoriesInbound.inboundRemark != null and accessoriesInbound.inboundRemark != ''">
                and inbound_remark = #{accessoriesInbound.inboundRemark}
            </if>
            <if test="accessoriesInbound.inboundCreater != null and accessoriesInbound.inboundCreater != ''">
                and inbound_creater = #{accessoriesInbound.inboundCreater}
            </if>
            <if test="accessoriesInbound.inboundReviewer != null and accessoriesInbound.inboundReviewer != ''">
                and inbound_reviewer = #{accessoriesInbound.inboundReviewer}
            </if>
            <if test="accessoriesInbound.inboundApprover != null and accessoriesInbound.inboundApprover != ''">
                and inbound_approver = #{accessoriesInbound.inboundApprover}
            </if>
            <if test="accessoriesInbound.inboundCloser != null and accessoriesInbound.inboundCloser != ''">
                and inbound_closer = #{accessoriesInbound.inboundCloser}
            </if>
            <if test="accessoriesInbound.inboundState != null and accessoriesInbound.inboundState != ''">
                and inbound_state = #{accessoriesInbound.inboundState}
            </if>
            <if test="accessoriesInbound.createDate != null">
                and create_date = #{accessoriesInbound.createDate}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="AccessoriesInboundMap">
        SELECT * FROM accessories_inbound
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from accessories_inbound
        <where>
            <if test="inboundId != null">
                and inbound_id = #{inboundId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="document != null and document != ''">
                and document = #{document}
            </if>
            <if test="inboundDate != null">
                and inbound_date = #{inboundDate}
            </if>
            <if test="clerkName != null and clerkName != ''">
                and clerk_name = #{clerkName}
            </if>
            <if test="inboundType != null and inboundType != ''">
                and inbound_type = #{inboundType}
            </if>
            <if test="reviewDate != null">
                and review_date = #{reviewDate}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="inboundRemark != null and inboundRemark != ''">
                and inbound_remark = #{inboundRemark}
            </if>
            <if test="inboundCreater != null and inboundCreater != ''">
                and inbound_creater = #{inboundCreater}
            </if>
            <if test="inboundReviewer != null and inboundReviewer != ''">
                and inbound_reviewer = #{inboundReviewer}
            </if>
            <if test="inboundApprover != null and inboundApprover != ''">
                and inbound_approver = #{inboundApprover}
            </if>
            <if test="inboundCloser != null and inboundCloser != ''">
                and inbound_closer = #{inboundCloser}
            </if>
            <if test="inboundState != null and inboundState != ''">
                and inbound_state = #{inboundState}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
        </where>
    </select>
    <select id="queryByLike" resultType="com.djc.entity.AccessoriesInbound">
        select
        inbound_id, employee_id, document, inbound_date, clerk_name, inbound_type, review_date, department,
        inbound_remark, inbound_creater, inbound_reviewer, inbound_approver, inbound_closer, inbound_state, create_date
        from accessories_inbound
        <where>
            <if test="accessoriesInbound.inboundId != null">
                and inbound_id like concat('%',#{accessoriesInbound.inboundId},'%')
            </if>
            <if test="accessoriesInbound.employeeId != null">
                and employee_id like concat('%',#{accessoriesInbound.employeeId},'%')
            </if>
            <if test="accessoriesInbound.document != null and accessoriesInbound.document != ''">
                and document like concat('%',#{accessoriesInbound.document},'%')
            </if>
            <if test="accessoriesInbound.inboundDate != null">
                and inbound_date like concat('%',#{accessoriesInbound.inboundDate},'%')
            </if>
            <if test="accessoriesInbound.clerkName != null and accessoriesInbound.clerkName != ''">
                and clerk_name like concat('%',#{accessoriesInbound.clerkName},'%')
            </if>
            <if test="accessoriesInbound.inboundType != null and accessoriesInbound.inboundType != ''">
                and inbound_type like concat('%',#{accessoriesInbound.inboundType},'%')
            </if>
            <if test="accessoriesInbound.reviewDate != null">
                and review_date like concat('%',#{accessoriesInbound.reviewDate},'%')
            </if>
            <if test="accessoriesInbound.department != null and accessoriesInbound.department != ''">
                and department like concat('%',#{accessoriesInbound.department},'%')
            </if>
            <if test="accessoriesInbound.inboundRemark != null and accessoriesInbound.inboundRemark != ''">
                and inbound_remark like concat('%',#{accessoriesInbound.inboundRemark},'%')
            </if>
            <if test="accessoriesInbound.inboundCreater != null and accessoriesInbound.inboundCreater != ''">
                and inbound_creater like concat('%',#{accessoriesInbound.inboundCreater},'%')
            </if>
            <if test="accessoriesInbound.inboundReviewer != null and accessoriesInbound.inboundReviewer != ''">
                and inbound_reviewer like concat('%',#{accessoriesInbound.inboundReviewer},'%')
            </if>
            <if test="accessoriesInbound.inboundApprover != null and accessoriesInbound.inboundApprover != ''">
                and inbound_approver like concat('%',#{accessoriesInbound.inboundApprover},'%')
            </if>
            <if test="accessoriesInbound.inboundCloser != null and accessoriesInbound.inboundCloser != ''">
                and inbound_closer like concat('%',#{accessoriesInbound.inboundCloser},'%')
            </if>
            <if test="accessoriesInbound.inboundState != null and accessoriesInbound.inboundState != ''">
                and inbound_state like concat('%',#{accessoriesInbound.inboundState},'%')
            </if>
            <if test="accessoriesInbound.createDate != null">
                and create_date like concat('%',#{accessoriesInbound.createDate},'%')
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
    <select id="LikeNum" resultType="java.lang.Integer">
        select count(1)
        from accessories_inbound
        <where>
            <if test="accessoriesInbound.inboundId != null">
                and inbound_id like concat('%',#{accessoriesInbound.inboundId},'%')
            </if>
            <if test="accessoriesInbound.employeeId != null">
                and employee_id like concat('%',#{accessoriesInbound.employeeId},'%')
            </if>
            <if test="accessoriesInbound.document != null and accessoriesInbound.document != ''">
                and document like concat('%',#{accessoriesInbound.document},'%')
            </if>
            <if test="accessoriesInbound.inboundDate != null">
                and inbound_date like concat('%',#{accessoriesInbound.inboundDate},'%')
            </if>
            <if test="accessoriesInbound.clerkName != null and accessoriesInbound.clerkName != ''">
                and clerk_name like concat('%',#{accessoriesInbound.clerkName},'%')
            </if>
            <if test="accessoriesInbound.inboundType != null and accessoriesInbound.inboundType != ''">
                and inbound_type like concat('%',#{accessoriesInbound.inboundType},'%')
            </if>
            <if test="accessoriesInbound.reviewDate != null">
                and review_date like concat('%',#{accessoriesInbound.reviewDate},'%')
            </if>
            <if test="accessoriesInbound.department != null and accessoriesInbound.department != ''">
                and department like concat('%',#{accessoriesInbound.department},'%')
            </if>
            <if test="accessoriesInbound.inboundRemark != null and accessoriesInbound.inboundRemark != ''">
                and inbound_remark like concat('%',#{accessoriesInbound.inboundRemark},'%')
            </if>
            <if test="accessoriesInbound.inboundCreater != null and accessoriesInbound.inboundCreater != ''">
                and inbound_creater like concat('%',#{accessoriesInbound.inboundCreater},'%')
            </if>
            <if test="accessoriesInbound.inboundReviewer != null and accessoriesInbound.inboundReviewer != ''">
                and inbound_reviewer like concat('%',#{accessoriesInbound.inboundReviewer},'%')
            </if>
            <if test="accessoriesInbound.inboundApprover != null and accessoriesInbound.inboundApprover != ''">
                and inbound_approver like concat('%',#{accessoriesInbound.inboundApprover},'%')
            </if>
            <if test="accessoriesInbound.inboundCloser != null and accessoriesInbound.inboundCloser != ''">
                and inbound_closer like concat('%',#{accessoriesInbound.inboundCloser},'%')
            </if>
            <if test="accessoriesInbound.inboundState != null and accessoriesInbound.inboundState != ''">
                and inbound_state like concat('%',#{accessoriesInbound.inboundState},'%')
            </if>
            <if test="accessoriesInbound.createDate != null">
                and create_date like concat('%',#{accessoriesInbound.createDate},'%')
            </if>
        </where>
    </select>
    <select id="queryVoById" resultMap="AccessoriesInboundVoMap">
        select * from accessories_inbound where inbound_id=#{inboundId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="inboundId" useGeneratedKeys="true">
        insert into accessories_inbound(employee_id, document, inbound_date, clerk_name, inbound_type, review_date,
                                        department, inbound_remark, inbound_creater, inbound_reviewer, inbound_approver,
                                        inbound_closer, inbound_state, create_date)
        values (#{employeeId}, #{document}, #{inboundDate}, #{clerkName}, #{inboundType}, #{reviewDate}, #{department},
                #{inboundRemark}, #{inboundCreater}, #{inboundReviewer}, #{inboundApprover}, #{inboundCloser},
                #{inboundState}, #{createDate})
    </insert>

    <insert id="insertBatch" keyProperty="inboundId" useGeneratedKeys="true">
        insert into accessories_inbound(employee_id, document, inbound_date, clerk_name, inbound_type, review_date,
        department, inbound_remark, inbound_creater, inbound_reviewer, inbound_approver, inbound_closer, inbound_state,
        create_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.document}, #{entity.inboundDate}, #{entity.clerkName},
            #{entity.inboundType}, #{entity.reviewDate}, #{entity.department}, #{entity.inboundRemark},
            #{entity.inboundCreater}, #{entity.inboundReviewer}, #{entity.inboundApprover}, #{entity.inboundCloser},
            #{entity.inboundState}, #{entity.createDate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="inboundId" useGeneratedKeys="true">
        insert into accessories_inbound(employee_id, document, inbound_date, clerk_name, inbound_type, review_date,
        department, inbound_remark, inbound_creater, inbound_reviewer, inbound_approver, inbound_closer, inbound_state,
        create_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.document}, #{entity.inboundDate}, #{entity.clerkName},
            #{entity.inboundType}, #{entity.reviewDate}, #{entity.department}, #{entity.inboundRemark},
            #{entity.inboundCreater}, #{entity.inboundReviewer}, #{entity.inboundApprover}, #{entity.inboundCloser},
            #{entity.inboundState}, #{entity.createDate})
        </foreach>
        on duplicate key update
        employee_id = values(employee_id),
        document = values(document),
        inbound_date = values(inbound_date),
        clerk_name = values(clerk_name),
        inbound_type = values(inbound_type),
        review_date = values(review_date),
        department = values(department),
        inbound_remark = values(inbound_remark),
        inbound_creater = values(inbound_creater),
        inbound_reviewer = values(inbound_reviewer),
        inbound_approver = values(inbound_approver),
        inbound_closer = values(inbound_closer),
        inbound_state = values(inbound_state),
        create_date = values(create_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update accessories_inbound
        <set>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="document != null and document != ''">
                document = #{document},
            </if>
            <if test="inboundDate != null">
                inbound_date = #{inboundDate},
            </if>
            <if test="clerkName != null and clerkName != ''">
                clerk_name = #{clerkName},
            </if>
            <if test="inboundType != null and inboundType != ''">
                inbound_type = #{inboundType},
            </if>
            <if test="reviewDate != null">
                review_date = #{reviewDate},
            </if>
            <if test="department != null and department != ''">
                department = #{department},
            </if>
            <if test="inboundRemark != null and inboundRemark != ''">
                inbound_remark = #{inboundRemark},
            </if>
            <if test="inboundCreater != null and inboundCreater != ''">
                inbound_creater = #{inboundCreater},
            </if>
            <if test="inboundReviewer != null and inboundReviewer != ''">
                inbound_reviewer = #{inboundReviewer},
            </if>
            <if test="inboundApprover != null and inboundApprover != ''">
                inbound_approver = #{inboundApprover},
            </if>
            <if test="inboundCloser != null and inboundCloser != ''">
                inbound_closer = #{inboundCloser},
            </if>
            <if test="inboundState != null and inboundState != ''">
                inbound_state = #{inboundState},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
        </set>
        where inbound_id = #{inboundId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from accessories_inbound
        where inbound_id = #{inboundId}
    </delete>

</mapper>

