<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.AccessoriesArrivalMapper">

    <resultMap type="com.djc.entity.AccessoriesArrival" id="AccessoriesArrivalMap">
        <result property="arrivalId" column="arrival_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
        <result property="document" column="document" jdbcType="VARCHAR"/>
        <result property="arrivalDate" column="arrival_date" jdbcType="TIMESTAMP"/>
        <result property="purchaseType" column="purchase_type" jdbcType="VARCHAR"/>
        <result property="vendor" column="vendor" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="clerkName" column="clerk_name" jdbcType="VARCHAR"/>
        <result property="currency" column="currency" jdbcType="VARCHAR"/>
        <result property="exchangeRate" column="exchange_rate" jdbcType="VARCHAR"/>
        <result property="transportationType" column="transportation_type" jdbcType="VARCHAR"/>
        <result property="taxRate" column="tax_rate" jdbcType="VARCHAR"/>
        <result property="arrivalRemark" column="arrival_remark" jdbcType="VARCHAR"/>
        <result property="invoiceNumber" column="invoice_number" jdbcType="VARCHAR"/>
        <result property="arrivalCreater" column="arrival_creater" jdbcType="VARCHAR"/>
        <result property="nowNum" column="now_num" jdbcType="INTEGER"/>
        <result property="reviewer" column="reviewer" jdbcType="VARCHAR"/>
        <result property="arrivalState" column="arrival_state" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AccessoriesArrivalMap">
        select arrival_id,
               employee_id,
               business_type,
               document,
               arrival_date,
               purchase_type,
               vendor,
               department,
               clerk_name,
               currency,
               exchange_rate,
               transportation_type,
               tax_rate,
               arrival_remark,
               invoice_number,
               arrival_creater,
               now_num,
               reviewer,
               arrival_state,
               create_date
        from accessories_arrival
        where arrival_id = #{arrivalId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AccessoriesArrivalMap">
        select
        arrival_id, employee_id, business_type, document, arrival_date, purchase_type, vendor, department, clerk_name,
        currency, exchange_rate, transportation_type, tax_rate, arrival_remark, invoice_number, arrival_creater,
        now_num, reviewer, arrival_state, create_date
        from accessories_arrival
        <where>
            <if test="arrivalId != null">
                and arrival_id = #{arrivalId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="businessType != null and businessType != ''">
                and business_type = #{businessType}
            </if>
            <if test="document != null and document != ''">
                and document = #{document}
            </if>
            <if test="arrivalDate != null">
                and arrival_date = #{arrivalDate}
            </if>
            <if test="purchaseType != null and purchaseType != ''">
                and purchase_type = #{purchaseType}
            </if>
            <if test="vendor != null and vendor != ''">
                and vendor = #{vendor}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="clerkName != null and clerkName != ''">
                and clerk_name = #{clerkName}
            </if>
            <if test="currency != null and currency != ''">
                and currency = #{currency}
            </if>
            <if test="exchangeRate != null and exchangeRate != ''">
                and exchange_rate = #{exchangeRate}
            </if>
            <if test="transportationType != null and transportationType != ''">
                and transportation_type = #{transportationType}
            </if>
            <if test="taxRate != null and taxRate != ''">
                and tax_rate = #{taxRate}
            </if>
            <if test="arrivalRemark != null and arrivalRemark != ''">
                and arrival_remark = #{arrivalRemark}
            </if>
            <if test="invoiceNumber != null and invoiceNumber != ''">
                and invoice_number = #{invoiceNumber}
            </if>
            <if test="arrivalCreater != null and arrivalCreater != ''">
                and arrival_creater = #{arrivalCreater}
            </if>
            <if test="nowNum != null">
                and now_num = #{nowNum}
            </if>
            <if test="reviewer != null and reviewer != ''">
                and reviewer = #{reviewer}
            </if>
            <if test="arrivalState != null and arrivalState != ''">
                and arrival_state = #{arrivalState}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="AccessoriesArrivalMap">
        SELECT * FROM accessories_arrival
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from accessories_arrival
        <where>
            <if test="arrivalId != null">
                and arrival_id = #{arrivalId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="businessType != null and businessType != ''">
                and business_type = #{businessType}
            </if>
            <if test="document != null and document != ''">
                and document = #{document}
            </if>
            <if test="arrivalDate != null">
                and arrival_date = #{arrivalDate}
            </if>
            <if test="purchaseType != null and purchaseType != ''">
                and purchase_type = #{purchaseType}
            </if>
            <if test="vendor != null and vendor != ''">
                and vendor = #{vendor}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="clerkName != null and clerkName != ''">
                and clerk_name = #{clerkName}
            </if>
            <if test="currency != null and currency != ''">
                and currency = #{currency}
            </if>
            <if test="exchangeRate != null and exchangeRate != ''">
                and exchange_rate = #{exchangeRate}
            </if>
            <if test="transportationType != null and transportationType != ''">
                and transportation_type = #{transportationType}
            </if>
            <if test="taxRate != null and taxRate != ''">
                and tax_rate = #{taxRate}
            </if>
            <if test="arrivalRemark != null and arrivalRemark != ''">
                and arrival_remark = #{arrivalRemark}
            </if>
            <if test="invoiceNumber != null and invoiceNumber != ''">
                and invoice_number = #{invoiceNumber}
            </if>
            <if test="arrivalCreater != null and arrivalCreater != ''">
                and arrival_creater = #{arrivalCreater}
            </if>
            <if test="nowNum != null">
                and now_num = #{nowNum}
            </if>
            <if test="reviewer != null and reviewer != ''">
                and reviewer = #{reviewer}
            </if>
            <if test="arrivalState != null and arrivalState != ''">
                and arrival_state = #{arrivalState}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="arrivalId" useGeneratedKeys="true">
        insert into accessories_arrival(employee_id, business_type, document, arrival_date, purchase_type, vendor,
                                        department, clerk_name, currency, exchange_rate, transportation_type, tax_rate,
                                        arrival_remark, invoice_number, arrival_creater, now_num, reviewer,
                                        arrival_state, create_date)
        values (#{employeeId}, #{businessType}, #{document}, #{arrivalDate}, #{purchaseType}, #{vendor}, #{department},
                #{clerkName}, #{currency}, #{exchangeRate}, #{transportationType}, #{taxRate}, #{arrivalRemark},
                #{invoiceNumber}, #{arrivalCreater}, #{nowNum}, #{reviewer}, #{arrivalState}, #{createDate})
    </insert>

    <insert id="insertBatch" keyProperty="arrivalId" useGeneratedKeys="true">
        insert into accessories_arrival(employee_id, business_type, document, arrival_date, purchase_type, vendor,
        department, clerk_name, currency, exchange_rate, transportation_type, tax_rate, arrival_remark, invoice_number,
        arrival_creater, now_num, reviewer, arrival_state, create_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.businessType}, #{entity.document}, #{entity.arrivalDate},
            #{entity.purchaseType}, #{entity.vendor}, #{entity.department}, #{entity.clerkName}, #{entity.currency},
            #{entity.exchangeRate}, #{entity.transportationType}, #{entity.taxRate}, #{entity.arrivalRemark},
            #{entity.invoiceNumber}, #{entity.arrivalCreater}, #{entity.nowNum}, #{entity.reviewer},
            #{entity.arrivalState}, #{entity.createDate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="arrivalId" useGeneratedKeys="true">
        insert into accessories_arrival(employee_id, business_type, document, arrival_date, purchase_type, vendor,
        department, clerk_name, currency, exchange_rate, transportation_type, tax_rate, arrival_remark, invoice_number,
        arrival_creater, now_num, reviewer, arrival_state, create_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.businessType}, #{entity.document}, #{entity.arrivalDate},
            #{entity.purchaseType}, #{entity.vendor}, #{entity.department}, #{entity.clerkName}, #{entity.currency},
            #{entity.exchangeRate}, #{entity.transportationType}, #{entity.taxRate}, #{entity.arrivalRemark},
            #{entity.invoiceNumber}, #{entity.arrivalCreater}, #{entity.nowNum}, #{entity.reviewer},
            #{entity.arrivalState}, #{entity.createDate})
        </foreach>
        on duplicate key update
        employee_id = values(employee_id),
        business_type = values(business_type),
        document = values(document),
        arrival_date = values(arrival_date),
        purchase_type = values(purchase_type),
        vendor = values(vendor),
        department = values(department),
        clerk_name = values(clerk_name),
        currency = values(currency),
        exchange_rate = values(exchange_rate),
        transportation_type = values(transportation_type),
        tax_rate = values(tax_rate),
        arrival_remark = values(arrival_remark),
        invoice_number = values(invoice_number),
        arrival_creater = values(arrival_creater),
        now_num = values(now_num),
        reviewer = values(reviewer),
        arrival_state = values(arrival_state),
        create_date = values(create_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update accessories_arrival
        <set>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="businessType != null and businessType != ''">
                business_type = #{businessType},
            </if>
            <if test="document != null and document != ''">
                document = #{document},
            </if>
            <if test="arrivalDate != null">
                arrival_date = #{arrivalDate},
            </if>
            <if test="purchaseType != null and purchaseType != ''">
                purchase_type = #{purchaseType},
            </if>
            <if test="vendor != null and vendor != ''">
                vendor = #{vendor},
            </if>
            <if test="department != null and department != ''">
                department = #{department},
            </if>
            <if test="clerkName != null and clerkName != ''">
                clerk_name = #{clerkName},
            </if>
            <if test="currency != null and currency != ''">
                currency = #{currency},
            </if>
            <if test="exchangeRate != null and exchangeRate != ''">
                exchange_rate = #{exchangeRate},
            </if>
            <if test="transportationType != null and transportationType != ''">
                transportation_type = #{transportationType},
            </if>
            <if test="taxRate != null and taxRate != ''">
                tax_rate = #{taxRate},
            </if>
            <if test="arrivalRemark != null and arrivalRemark != ''">
                arrival_remark = #{arrivalRemark},
            </if>
            <if test="invoiceNumber != null and invoiceNumber != ''">
                invoice_number = #{invoiceNumber},
            </if>
            <if test="arrivalCreater != null and arrivalCreater != ''">
                arrival_creater = #{arrivalCreater},
            </if>
            <if test="nowNum != null">
                now_num = #{nowNum},
            </if>
            <if test="reviewer != null and reviewer != ''">
                reviewer = #{reviewer},
            </if>
            <if test="arrivalState != null and arrivalState != ''">
                arrival_state = #{arrivalState},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
        </set>
        where arrival_id = #{arrivalId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from accessories_arrival
        where arrival_id = #{arrivalId}
    </delete>

</mapper>

