<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.DepotMapper">

    <resultMap type="com.djc.entity.Depot" id="DepotMap">
        <result property="depotId" column="depot_id" jdbcType="INTEGER"/>
        <result property="depotName" column="depot_name" jdbcType="VARCHAR"/>
        <result property="depotLocation" column="depot_location" jdbcType="VARCHAR"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="depotRemark" column="depot_remark" jdbcType="VARCHAR"/>
        <result property="contactNumber" column="contact_number" jdbcType="VARCHAR"/>
        <result property="depotType" column="depot_type" jdbcType="VARCHAR"/>
        <result property="depotState" column="depot_state" jdbcType="VARCHAR"/>
        <result property="depotOpenedAt" column="depot_opened_at" jdbcType="VARCHAR"/>
        <result property="depotCloesdAt" column="depot_cloesd_at" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="DepotMap">
        select depot_id,
               depot_name,
               depot_location,
               employee_id,
               depot_remark,
               contact_number,
               depot_type,
               depot_state,
               depot_opened_at,
               depot_cloesd_at
        from depot
        where depot_id = #{depotId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DepotMap">
        select
        depot_id, depot_name, depot_location, employee_id, depot_remark, contact_number, depot_type, depot_state,
        depot_opened_at, depot_cloesd_at
        from depot
        <where>
            <if test="depotId != null">
                and depot_id = #{depotId}
            </if>
            <if test="depotName != null and depotName != ''">
                and depot_name = #{depotName}
            </if>
            <if test="depotLocation != null and depotLocation != ''">
                and depot_location = #{depotLocation}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="depotRemark != null and depotRemark != ''">
                and depot_remark = #{depotRemark}
            </if>
            <if test="contactNumber != null and contactNumber != ''">
                and contact_number = #{contactNumber}
            </if>
            <if test="depotType != null and depotType != ''">
                and depot_type = #{depotType}
            </if>
            <if test="depotState != null and depotState != ''">
                and depot_state = #{depotState}
            </if>
            <if test="depotOpenedAt != null">
                and depot_opened_at = #{depotOpenedAt}
            </if>
            <if test="depotCloesdAt != null">
                and depot_cloesd_at = #{depotCloesdAt}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="DepotMap">
        SELECT * FROM depot
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from depot
        <where>
            <if test="depotId != null">
                and depot_id = #{depotId}
            </if>
            <if test="depotName != null and depotName != ''">
                and depot_name = #{depotName}
            </if>
            <if test="depotLocation != null and depotLocation != ''">
                and depot_location = #{depotLocation}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="depotRemark != null and depotRemark != ''">
                and depot_remark = #{depotRemark}
            </if>
            <if test="contactNumber != null and contactNumber != ''">
                and contact_number = #{contactNumber}
            </if>
            <if test="depotType != null and depotType != ''">
                and depot_type = #{depotType}
            </if>
            <if test="depotState != null and depotState != ''">
                and depot_state = #{depotState}
            </if>
            <if test="depotOpenedAt != null">
                and depot_opened_at = #{depotOpenedAt}
            </if>
            <if test="depotCloesdAt != null">
                and depot_cloesd_at = #{depotCloesdAt}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="depotId" useGeneratedKeys="true">
        insert into depot(depot_name, depot_location, employee_id, depot_remark, contact_number, depot_type,
                          depot_state, depot_opened_at, depot_cloesd_at)
        values (#{depotName}, #{depotLocation}, #{employeeId}, #{depotRemark}, #{contactNumber}, #{depotType},
                #{depotState}, #{depotOpenedAt}, #{depotCloesdAt})
    </insert>

    <insert id="insertBatch" keyProperty="depotId" useGeneratedKeys="true">
        insert into depot(depot_name, depot_location, employee_id, depot_remark, contact_number, depot_type,
        depot_state, depot_opened_at, depot_cloesd_at)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.depotName}, #{entity.depotLocation}, #{entity.employeeId}, #{entity.depotRemark},
            #{entity.contactNumber}, #{entity.depotType}, #{entity.depotState}, #{entity.depotOpenedAt},
            #{entity.depotCloesdAt})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="depotId" useGeneratedKeys="true">
        insert into depot(depot_name, depot_location, employee_id, depot_remark, contact_number, depot_type,
        depot_state, depot_opened_at, depot_cloesd_at)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.depotName}, #{entity.depotLocation}, #{entity.employeeId}, #{entity.depotRemark},
            #{entity.contactNumber}, #{entity.depotType}, #{entity.depotState}, #{entity.depotOpenedAt},
            #{entity.depotCloesdAt})
        </foreach>
        on duplicate key update
        depot_name = values(depot_name),
        depot_location = values(depot_location),
        employee_id = values(employee_id),
        depot_remark = values(depot_remark),
        contact_number = values(contact_number),
        depot_type = values(depot_type),
        depot_state = values(depot_state),
        depot_opened_at = values(depot_opened_at),
        depot_cloesd_at = values(depot_cloesd_at)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update depot
        <set>
            <if test="depotName != null and depotName != ''">
                depot_name = #{depotName},
            </if>
            <if test="depotLocation != null and depotLocation != ''">
                depot_location = #{depotLocation},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="depotRemark != null and depotRemark != ''">
                depot_remark = #{depotRemark},
            </if>
            <if test="contactNumber != null and contactNumber != ''">
                contact_number = #{contactNumber},
            </if>
            <if test="depotType != null and depotType != ''">
                depot_type = #{depotType},
            </if>
            <if test="depotState != null and depotState != ''">
                depot_state = #{depotState},
            </if>
            <if test="depotOpenedAt != null">
                depot_opened_at = #{depotOpenedAt},
            </if>
            <if test="depotCloesdAt != null">
                depot_cloesd_at = #{depotCloesdAt},
            </if>
        </set>
        where depot_id = #{depotId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from depot
        where depot_id = #{depotId}
    </delete>

</mapper>

