<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.InformationMapper">

    <resultMap type="com.djc.entity.Information" id="InformationMap">
        <result property="informationId" column="information_id" jdbcType="INTEGER"/>
        <result property="senderId" column="sender_id" jdbcType="INTEGER"/>
        <result property="informationTitle" column="information_title" jdbcType="VARCHAR"/>
        <result property="informationContent" column="information_content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="InformationMap">
        select information_id,
               sender_id,
               information_title,
               information_content
        from information
        where information_id = #{informationId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="InformationMap">
        select
        information_id, sender_id, information_title, information_content
        from information
        <where>
            <if test="informationId != null">
                and information_id = #{informationId}
            </if>
            <if test="senderId != null">
                and sender_id = #{senderId}
            </if>
            <if test="informationTitle != null and informationTitle != ''">
                and information_title = #{informationTitle}
            </if>
            <if test="informationContent != null and informationContent != ''">
                and information_content = #{informationContent}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="InformationMap">
        SELECT * FROM information
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from information
        <where>
            <if test="informationId != null">
                and information_id = #{informationId}
            </if>
            <if test="senderId != null">
                and sender_id = #{senderId}
            </if>
            <if test="informationTitle != null and informationTitle != ''">
                and information_title = #{informationTitle}
            </if>
            <if test="informationContent != null and informationContent != ''">
                and information_content = #{informationContent}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="informationId" useGeneratedKeys="true">
        insert into information(sender_id, information_title, information_content)
        values (#{senderId}, #{informationTitle}, #{informationContent})
    </insert>

    <insert id="insertBatch" keyProperty="informationId" useGeneratedKeys="true">
        insert into information(sender_id, information_title, information_content)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.senderId}, #{entity.informationTitle}, #{entity.informationContent})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="informationId" useGeneratedKeys="true">
        insert into information(sender_id, information_title, information_content)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.senderId}, #{entity.informationTitle}, #{entity.informationContent})
        </foreach>
        on duplicate key update
        sender_id = values(sender_id),
        information_title = values(information_title),
        information_content = values(information_content)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update information
        <set>
            <if test="senderId != null">
                sender_id = #{senderId},
            </if>
            <if test="informationTitle != null and informationTitle != ''">
                information_title = #{informationTitle},
            </if>
            <if test="informationContent != null and informationContent != ''">
                information_content = #{informationContent},
            </if>
        </set>
        where information_id = #{informationId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from information
        where information_id = #{informationId}
    </delete>

</mapper>

