<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.MachineMapper">

    <resultMap type="com.djc.entity.Machine" id="MachineMap">
        <result property="machineId" column="machine_id" jdbcType="INTEGER"/>
        <result property="machineTypeId" column="machine_type_id" jdbcType="INTEGER"/>
        <result property="machineSerialNumber" column="machine_serial_number" jdbcType="VARCHAR"/>
        <result property="machineLocation" column="machine_location" jdbcType="VARCHAR"/>
        <result property="intoDate" column="into_date" jdbcType="TIMESTAMP"/>
        <result property="assetNumber" column="asset_number" jdbcType="VARCHAR"/>
        <result property="machineState" column="machine_state" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MachineMap">
        select machine_id,
               machine_type_id,
               machine_serial_number,
               machine_location,
               into_date,
               asset_number,
               machine_state,
               remark
        from machine
        where machine_id = #{machineId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MachineMap">
        select
        machine_id, machine_type_id, machine_serial_number, machine_location, into_date, asset_number, machine_state,
        remark
        from machine
        <where>
            <if test="machineId != null">
                and machine_id = #{machineId}
            </if>
            <if test="machineTypeId != null">
                and machine_type_id = #{machineTypeId}
            </if>
            <if test="machineSerialNumber != null and machineSerialNumber != ''">
                and machine_serial_number = #{machineSerialNumber}
            </if>
            <if test="machineLocation != null and machineLocation != ''">
                and machine_location = #{machineLocation}
            </if>
            <if test="intoDate != null">
                and into_date = #{intoDate}
            </if>
            <if test="assetNumber != null and assetNumber != ''">
                and asset_number = #{assetNumber}
            </if>
            <if test="machineState != null and machineState != ''">
                and machine_state = #{machineState}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--模糊查询-->
    <select id="queryAllByLike" resultMap="MachineMap">
        select
        machine_id, machine_type_id, machine_serial_number, machine_location, into_date, asset_number, machine_state,
        remark
        from machine
        <where>
            <if test="machine.machineId != null">
                and machine_id like concat('%',#{machine.machineId},'%')
            </if>
            <if test="machine.machineTypeId != null">
                and machine_type_id like concat('%',#{machine.machineTypeId},'%')
            </if>
            <if test="machine.machineSerialNumber != null and machine.machineSerialNumber != ''">
                and machine_serial_number like concat('%',#{machine.machineSerialNumber},'%')
            </if>
            <if test="machine.machineLocation != null and machine.machineLocation != ''">
                and machine_location like concat('%',#{machine.machineLocation},'%')
            </if>
            <if test="machine.intoDate != null">
                and into_date = like concat('%',#{machine.intoDate},'%')
            </if>
            <if test="machine.assetNumber != null and machine.assetNumber != ''">
                and asset_number like concat('%',#{machine.assetNumber},'#')
            </if>
            <if test="machine.machineState != null and machine.machineState != ''">
                and machine_state like concat('%',#{machine.machineState},'%')
            </if>
            <if test="machine.remark != null and machine.remark != ''">
                and remark like concat('%',{machine.remark}.'%')
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="MachineMap">
        SELECT * FROM machine
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from machine
        <where>
            <if test="machineId != null">
                and machine_id = #{machineId}
            </if>
            <if test="machineTypeId != null">
                and machine_type_id = #{machineTypeId}
            </if>
            <if test="machineSerialNumber != null and machineSerialNumber != ''">
                and machine_serial_number = #{machineSerialNumber}
            </if>
            <if test="machineLocation != null and machineLocation != ''">
                and machine_location = #{machineLocation}
            </if>
            <if test="intoDate != null">
                and into_date = #{intoDate}
            </if>
            <if test="assetNumber != null and assetNumber != ''">
                and asset_number = #{assetNumber}
            </if>
            <if test="machineState != null and machineState != ''">
                and machine_state = #{machineState}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="machineId" useGeneratedKeys="true">
        insert into machine(machine_type_id, machine_serial_number, machine_location, into_date, asset_number,
                            machine_state, remark)
        values (#{machineTypeId}, #{machineSerialNumber}, #{machineLocation}, #{intoDate}, #{assetNumber},
                #{machineState}, #{remark})
    </insert>

    <insert id="insertBatch" keyProperty="machineId" useGeneratedKeys="true">
        insert into machine(machine_type_id, machine_serial_number, machine_location, into_date, asset_number,
        machine_state, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.machineTypeId}, #{entity.machineSerialNumber}, #{entity.machineLocation}, #{entity.intoDate},
            #{entity.assetNumber}, #{entity.machineState}, #{entity.remark})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="machineId" useGeneratedKeys="true">
        insert into machine(machine_type_id, machine_serial_number, machine_location, into_date, asset_number,
        machine_state, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.machineTypeId}, #{entity.machineSerialNumber}, #{entity.machineLocation}, #{entity.intoDate},
            #{entity.assetNumber}, #{entity.machineState}, #{entity.remark})
        </foreach>
        on duplicate key update
        machine_type_id = values(machine_type_id),
        machine_serial_number = values(machine_serial_number),
        machine_location = values(machine_location),
        into_date = values(into_date),
        asset_number = values(asset_number),
        machine_state = values(machine_state),
        remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update machine
        <set>
            <if test="machineTypeId != null">
                machine_type_id = #{machineTypeId},
            </if>
            <if test="machineSerialNumber != null and machineSerialNumber != ''">
                machine_serial_number = #{machineSerialNumber},
            </if>
            <if test="machineLocation != null and machineLocation != ''">
                machine_location = #{machineLocation},
            </if>
            <if test="intoDate != null">
                into_date = #{intoDate},
            </if>
            <if test="assetNumber != null and assetNumber != ''">
                asset_number = #{assetNumber},
            </if>
            <if test="machineState != null and machineState != ''">
                machine_state = #{machineState},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where machine_id = #{machineId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from machine
        where machine_id = #{machineId}
    </delete>

</mapper>

