<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.MaintenanceRecordsMapper">

    <resultMap type="com.djc.entity.MaintenanceRecords" id="MaintenanceRecordsMap">
        <result property="recordsId" column="records_id" jdbcType="INTEGER"/>
        <result property="maintenanceTime" column="maintenance_time" jdbcType="TIMESTAMP"/>
        <result property="machineId" column="machine_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="methodDescription" column="method_description" jdbcType="VARCHAR"/>
        <result property="faultDescription" column="fault_description" jdbcType="VARCHAR"/>
        <result property="wordPlace" column="word_place" jdbcType="VARCHAR"/>
        <result property="photoPlace" column="photo_place" jdbcType="VARCHAR"/>
        <result property="vidoPlace" column="vido_place" jdbcType="VARCHAR"/>
        <result property="machineTypeId" column="machine_type_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MaintenanceRecordsMap">
        select records_id,
               maintenance_time,
               machine_id,
               employee_id,
               method_description,
               fault_description,
               word_place,
               photo_place,
               vido_place,
               machine_type_id
        from maintenance_records
        where records_id = #{recordsId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MaintenanceRecordsMap">
        select
        records_id, maintenance_time, machine_id, employee_id, method_description, fault_description, word_place,
        photo_place, vido_place, machine_type_id
        from maintenance_records
        <where>
            <if test="recordsId != null">
                and records_id = #{recordsId}
            </if>
            <if test="maintenanceTime != null">
                and maintenance_time = #{maintenanceTime}
            </if>
            <if test="machineId != null">
                and machine_id = #{machineId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="methodDescription != null and methodDescription != ''">
                and method_description = #{methodDescription}
            </if>
            <if test="faultDescription != null and faultDescription != ''">
                and fault_description = #{faultDescription}
            </if>
            <if test="wordPlace != null and wordPlace != ''">
                and word_place = #{wordPlace}
            </if>
            <if test="photoPlace != null and photoPlace != ''">
                and photo_place = #{photoPlace}
            </if>
            <if test="vidoPlace != null and vidoPlace != ''">
                and vido_place = #{vidoPlace}
            </if>
            <if test="machineTypeId != null">
                and machine_type_id = #{machineTypeId}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="MaintenanceRecordsMap">
        SELECT * FROM maintenance_records
        where xxx LIKE CONCAT('%', #{keyWord}, '%')
        LIMIT #{num} OFFSET (#{page} - 1) * #{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from maintenance_records
        <where>
            <if test="recordsId != null">
                and records_id = #{recordsId}
            </if>
            <if test="maintenanceTime != null">
                and maintenance_time = #{maintenanceTime}
            </if>
            <if test="machineId != null">
                and machine_id = #{machineId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="methodDescription != null and methodDescription != ''">
                and method_description = #{methodDescription}
            </if>
            <if test="faultDescription != null and faultDescription != ''">
                and fault_description = #{faultDescription}
            </if>
            <if test="wordPlace != null and wordPlace != ''">
                and word_place = #{wordPlace}
            </if>
            <if test="photoPlace != null and photoPlace != ''">
                and photo_place = #{photoPlace}
            </if>
            <if test="vidoPlace != null and vidoPlace != ''">
                and vido_place = #{vidoPlace}
            </if>
            <if test="machineTypeId != null">
                and machine_type_id = #{machineTypeId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="recordsId" useGeneratedKeys="true">
        insert into maintenance_records(maintenance_time, machine_id, employee_id, method_description,
                                        fault_description, word_place, photo_place, vido_place, machine_type_id)
        values (#{maintenanceTime}, #{machineId}, #{employeeId}, #{methodDescription}, #{faultDescription},
                #{wordPlace}, #{photoPlace}, #{vidoPlace}, #{machineTypeId})
    </insert>

    <insert id="insertBatch" keyProperty="recordsId" useGeneratedKeys="true">
        insert into maintenance_records(maintenance_time, machine_id, employee_id, method_description,
        fault_description, word_place, photo_place, vido_place, machine_type_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.maintenanceTime}, #{entity.machineId}, #{entity.employeeId}, #{entity.methodDescription},
            #{entity.faultDescription}, #{entity.wordPlace}, #{entity.photoPlace}, #{entity.vidoPlace},
            #{entity.machineTypeId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="recordsId" useGeneratedKeys="true">
        insert into maintenance_records(maintenance_time, machine_id, employee_id, method_description,
        fault_description, word_place, photo_place, vido_place, machine_type_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.maintenanceTime}, #{entity.machineId}, #{entity.employeeId}, #{entity.methodDescription},
            #{entity.faultDescription}, #{entity.wordPlace}, #{entity.photoPlace}, #{entity.vidoPlace},
            #{entity.machineTypeId})
        </foreach>
        on duplicate key update
        maintenance_time = values(maintenance_time),
        machine_id = values(machine_id),
        employee_id = values(employee_id),
        method_description = values(method_description),
        fault_description = values(fault_description),
        word_place = values(word_place),
        photo_place = values(photo_place),
        vido_place = values(vido_place),
        machine_type_id = values(machine_type_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update maintenance_records
        <set>
            <if test="maintenanceTime != null">
                maintenance_time = #{maintenanceTime},
            </if>
            <if test="machineId != null">
                machine_id = #{machineId},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="methodDescription != null and methodDescription != ''">
                method_description = #{methodDescription},
            </if>
            <if test="faultDescription != null and faultDescription != ''">
                fault_description = #{faultDescription},
            </if>
            <if test="wordPlace != null and wordPlace != ''">
                word_place = #{wordPlace},
            </if>
            <if test="photoPlace != null and photoPlace != ''">
                photo_place = #{photoPlace},
            </if>
            <if test="vidoPlace != null and vidoPlace != ''">
                vido_place = #{vidoPlace},
            </if>
            <if test="machineTypeId != null">
                machine_type_id = #{machineTypeId},
            </if>
        </set>
        where records_id = #{recordsId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from maintenance_records
        where records_id = #{recordsId}
    </delete>

</mapper>

