<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djc.mapper.UpcomingMapper">

    <resultMap type="com.djc.entity.Upcoming" id="UpcomingMap">
        <result property="upcomingId" column="upcoming_id" jdbcType="INTEGER"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
        <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
        <result property="upcomingTitle" column="upcoming_title" jdbcType="VARCHAR"/>
        <result property="upcomingDescription" column="upcoming_description" jdbcType="VARCHAR"/>
        <result property="sate" column="sate" jdbcType="VARCHAR"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UpcomingMap">
        select upcoming_id,
               employee_id,
               start_date,
               end_date,
               deadline,
               upcoming_title,
               upcoming_description,
               sate,
               creater
        from upcoming
        where upcoming_id = #{upcomingId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UpcomingMap">
        select
        upcoming_id, employee_id, start_date, end_date, deadline, upcoming_title, upcoming_description, sate, creater
        from upcoming
        <where>
            <if test="upcomingId != null">
                and upcoming_id = #{upcomingId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate}
            </if>
            <if test="deadline != null">
                and deadline = #{deadline}
            </if>
            <if test="upcomingTitle != null and upcomingTitle != ''">
                and upcoming_title = #{upcomingTitle}
            </if>
            <if test="upcomingDescription != null and upcomingDescription != ''">
                and upcoming_description = #{upcomingDescription}
            </if>
            <if test="sate != null and sate != ''">
                and sate = #{sate}
            </if>
            <if test="creater != null and creater != ''">
                and creater = #{creater}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--关键字模糊查询-->
    <!--<select id="queryAll" resultMap="UpcomingMap">
        SELECT * FROM upcoming
        where xxx LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{page},#{num}
    </select>-->


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from upcoming
        <where>
            <if test="upcomingId != null">
                and upcoming_id = #{upcomingId}
            </if>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate}
            </if>
            <if test="deadline != null">
                and deadline = #{deadline}
            </if>
            <if test="upcomingTitle != null and upcomingTitle != ''">
                and upcoming_title = #{upcomingTitle}
            </if>
            <if test="upcomingDescription != null and upcomingDescription != ''">
                and upcoming_description = #{upcomingDescription}
            </if>
            <if test="sate != null and sate != ''">
                and sate = #{sate}
            </if>
            <if test="creater != null and creater != ''">
                and creater = #{creater}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="upcomingId" useGeneratedKeys="true">
        insert into upcoming(employee_id, start_date, end_date, deadline, upcoming_title, upcoming_description, sate,
                             creater)
        values (#{employeeId}, #{startDate}, #{endDate}, #{deadline}, #{upcomingTitle}, #{upcomingDescription}, #{sate},
                #{creater})
    </insert>

    <insert id="insertBatch" keyProperty="upcomingId" useGeneratedKeys="true">
        insert into upcoming(employee_id, start_date, end_date, deadline, upcoming_title, upcoming_description, sate,
        creater)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.startDate}, #{entity.endDate}, #{entity.deadline}, #{entity.upcomingTitle},
            #{entity.upcomingDescription}, #{entity.sate}, #{entity.creater})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="upcomingId" useGeneratedKeys="true">
        insert into upcoming(employee_id, start_date, end_date, deadline, upcoming_title, upcoming_description, sate,
        creater)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.employeeId}, #{entity.startDate}, #{entity.endDate}, #{entity.deadline}, #{entity.upcomingTitle},
            #{entity.upcomingDescription}, #{entity.sate}, #{entity.creater})
        </foreach>
        on duplicate key update
        employee_id = values(employee_id),
        start_date = values(start_date),
        end_date = values(end_date),
        deadline = values(deadline),
        upcoming_title = values(upcoming_title),
        upcoming_description = values(upcoming_description),
        sate = values(sate),
        creater = values(creater)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update upcoming
        <set>
            <if test="employeeId != null">
                employee_id = #{employeeId},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
            <if test="upcomingTitle != null and upcomingTitle != ''">
                upcoming_title = #{upcomingTitle},
            </if>
            <if test="upcomingDescription != null and upcomingDescription != ''">
                upcoming_description = #{upcomingDescription},
            </if>
            <if test="sate != null and sate != ''">
                sate = #{sate},
            </if>
            <if test="creater != null and creater != ''">
                creater = #{creater},
            </if>
        </set>
        where upcoming_id = #{upcomingId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from upcoming
        where upcoming_id = #{upcomingId}
    </delete>

</mapper>

